.About-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
}

.About-section {
  width: 600px;
}

.About-title {
  text-align: center;
  font-size: calc(10px + 10vmin);
}

.About-desc {
  /* width: 500px; */
}

.About-wrapper .Image-wrapper {
  position: relative;
}
